body {
    margin: 0;
    background-color: rgb(212, 212, 212);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 260px;
    height: 400px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    border: 0.5rem solid #fff;
    border-radius: 8px;
    color: rgb(206, 56, 56);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.card aside {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card aside span {
    color: #666;
}

.card .top {
    margin: 0.5rem;
    align-self: flex-start;
}

.card .bottom {
    margin: 0.5rem;
    align-self: flex-end;
    transform: rotate(180deg);
}